In [3]:
import sys
sys.path.append('/home/jovyan/analysis/attr_explore/TreeAttr/src')

from TreeAttrClassify import TreeAttrClassify
from TreeAttrUtils import best_path
import pandas as pd

In [4]:
df = pd.read_csv('/home/jovyan/analysis/attr_explore/TreeAttr/logs/cls-2024-05-13 05:00:54.071203.csv')

In [24]:
def best_path(tree_df, depth=1):
    tree_dict = tree_df.set_index('node_index').to_dict('index')

    if depth == 0:
        raise ValueError("Depth must be greater than 0")
    
    max_sum = 0
    best_path = []

    def find_paths(node, current_path, current_ids, current_length):
        print(current_path)
        if current_length == depth or pd.isna(tree_dict[node]['left_child']) or pd.isna(tree_dict[node]['right_child']):
            nonlocal max_sum, best_path
            current_sum = sum(current_path)
            if current_sum > max_sum:
                max_sum = current_sum
                best_path = current_ids.copy()
            return
        
        for child in ['left_child', 'right_child']:
            child_id = tree_dict[node][child]
            child_value = tree_dict[child_id]['ratio']
            if child_value > 0:
                find_paths(child_id, current_path + [child_value], current_ids + [child_id], current_length + 1)
            else:
                continue

    find_paths(0, [], [0], 1)
    return max_sum, best_path

In [25]:
a, b = best_path(df, 10)
print(a, b)

[]
[10.041379310344828]
[10.041379310344828, 1.006896551724138]
[10.041379310344828, 9.06206896551724]
19.103448275862068 [0, 1.0, 4.0]

In [15]:
df[['node_index', 'left_child', 'right_child', 'ratio']].head(10)

   node_index  left_child  right_child      ratio
0         0.0         1.0          2.0   1.000000
1         1.0         3.0          4.0  10.041379
2         2.0         5.0          6.0  -6.317241
3         3.0         NaN          NaN   1.006897
4         4.0         NaN          NaN   9.062069
5         5.0        11.0         12.0  -5.889655
6         6.0        13.0         14.0  -3.544828
7        11.0        23.0         24.0  -2.406897
8        12.0        25.0         26.0  -4.193103
9        13.0        27.0         28.0   2.137931